*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em; }
h2{ font-size: 2.7em; }
h3{ font-size: 2em; }
p{ font-size: 1.25em; }
ul{ list-style: none;}

button{
    background-color: #00FA9A;
    color: black;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    display: inline-block;
    font-size: 1.25em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: whitesmoke;
    color: black;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #f2f2f2;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.6em;
    color: #00FA9A;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #00FF7F;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    border: black solid 2px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ) 
    ,url("media/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.25em;
}

#myinfo .container{
    text-align: center;
    padding: 200px 10px;
}

#cards{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#cards .container{
    padding: 150px 0px;
}

#cards h2{
    margin-top: 0;
    font-size: 3.5em;
}

#cards p{
    display: none;
}

#cards .cartas{
    background-position: center center;
    background-size: cover;
    border: black solid 1px;
    padding:50px;
    margin: 20px;
    border-radius: 10px;
}

.cartas:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )  
    ,url("media/card1.jpg");
}

.cartas:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ) 
    ,url("media/card2.jpg");
}

.cartas:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ) 
    ,url("media/card3.jpg");
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 10px;
}

#caracteristicas li{
    margin: 15px 0;
    font-weight: bold; 
}

#contactar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
}

#contactar h2{
    font-size: 8vw;
}

#contactar button{
    font-size: 4vw;
}

footer{
    background-color: #f2f2f2;
    padding: 15px;
    text-align: center;
}

footer p{
    margin: 0;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    header nav{
        flex-direction: row;
        padding-right: 20px;
    }

    #myinfo .container{
        display: flex;
        justify-content: space-evenly;
    }

    #myinfo .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #myinfo h2{
        margin-top: 0px;
    }

    #myinfo .img-container{
        background-image: url("media/image.jpg");
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 530px;
    }

    #cards .partes{
        display: flex;
        justify-content: center;   
    }

    #cards p{
        display: block;
        margin-bottom: 30px;
    }

    #cards h3{
        margin-top: 0;
    }

    #cards .cartas{
        padding: 45px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    #caracteristicas .container{
        display: flex;
        justify-content: center;
    }

    #caracteristicas .texto{
        text-align: left;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #caracteristicas .img-container{
        background-image: url("media/image2.jpg");
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 530px;
    }

    #contactar h2{
        font-size: 4em;
    }

    #contactar button{
        font-size: 1.5em;
    }

    footer .container{
        justify-content: flex-end;
    }

}